<div class = "Documentation">
<h2>About GEUVADIS </h2>
	<p>
	GEUVADIS: Genetic European Variation in Disease (<%= link_to :"http://www.geuvadis.org" , "http://www.geuvadis.org", class: "nav_links_body" %>), is a European 
	Medical Sequencing Consortium aiming at sharing capacity across Europe in high-throughput sequencing technology to explore genetic variation in health and disease.
	It is funded by the European Commission 7th framework program under the Coordination and Support Action scheme. It started on the 1st October 2010, and ends on 31st 
	December 2013. The project Coordinator is Xavier Estivill from Center for Genomic Regulation, Barcelona.
	</p>

</div>

<div class = "Documentation">
<h2>About GEUVADIS European Exome Variant Server (GEEVS)</h2>

	<p>
	The GEUVADIS European Exome Variant Server (GEEVS) was created in the context of GEUVADIS WP5: Biological and Medical Interpretation of Sequence Data. 
	</p>

</div>

<div class = "Documentation">
<h2>Disclaimer</h2>

	<p>
	The submitters are responsible to ensure that all data they submit to GEEVS fulfill all applicable legal and ethical requirements, and notably that the individuals 
	from whom the data was extracted have signed a relevant consent form approving of the submission of their data in a pooled database.
	</p>
</div>

<div class = "Documentation">
<h2>Confidentiality</h2>

	<p>
	GEEVS will only publish aggregate exome variant frequencies from a pool of data provided by the submitters. Each submission is composed of data from a minimum of 50 samples.
	No personal data (age, sex, surname, country of origin, presence or absence of specific traits) will be available in GEEVS from any single individuals.
	Data available for pooled data will be: country where the data was processed, and disease which has been studies. The GEEVS responsibles are aware of the literature 
	concerning the identification of individuals from pooled genomic data, and of the ethical and legal regulations of privacy in genomics research (see bibliography below).
	GEEVS responsibles will make all possible efforts to ensure that individuals will be non-identifiable to the greatest possible degree within GEEVS.
	</p>

</div>


<div class = "Documentation">
<h2>Bibliography</h2>

	<ol>
	<li>Jacobs, K. B. et al. A new statistic and its power to infer membership in a genome-wide association study using genotype frequencies. Nat. Genet. 41, 1253–1257 (2009).</li>
	<li>Craig, D. W. et al. Assessing and managing risk when sharing aggregate genetic variant data. Nat. Rev. Genet. 12, 730–736 (2011). </li>
	<li>Heeney, C., Hawkins, N., de Vries, J., Boddington, P. & Kaye, J. Assessing the privacy risks of data sharing in genomics. Public Health Genomics 14, 17–25 (2011).</li>
	<li>Schadt, E. E., Woo, S. & Hao, K. Bayesian method to predict individual SNP genotypes from gene expression data. Nat. Genet. 44, 603–608 (2012).</li>
	<li>Wolfson, M. et al. DataSHIELD: resolving a conflict in contemporary bioscience--performing a pooled analysis of individual-level data without sharing the data. 
		Int J Epidemiol 39, 1372–1382 (2010).</li>
	<li>Lowrance, W. W. & Collins, F. S. Ethics. Identifiability in genomic research. Science 317, 600–602 (2007).</li>
	<li>Lunshof, J. E., Chadwick, R., Vorhaus, D. B. & Church, G. M. From genetic privacy to open consent. Nat. Rev. Genet. 9, 406–411 (2008).</li>
	<li>Prescott, S. M., Lalouel, J. M. & Leppert, M. From linkage maps to quantitative trait loci: the history and science of the Utah genetic reference project. 
		Annu Rev Genomics Hum Genet 9, 347–358 (2008).</li>
	<li>Lin, Z., Owen, A. B. & Altman, R. B. Genetics. Genomic research and human subject privacy. Science 305, 183 (2004).</li>
	<li>McGuire, A. L. & Gibbs, R. A. Genetics. No longer de-identified. Science 312, 370–371 (2006).</li>
	<li>Curren, L. et al. Identifiability, genomics and U.K. data protection law. Eur J Health Law 17, 329–344 (2010).</li>
	<li>Gymrek, M., McGuire, A. L., Golan, D., Halperin, E. & Erlich, Y. Identifying Personal Genomes by Surname Inference. Science 339, 321–324 (2013).</li>
	<li>Braun, R., Rowe, W., Schaefer, C., Zhang, J. & Buetow, K. Needles in the haystack: identifying individuals present in pooled genomic data. PLoS Genet. 
		5, e1000668 (2009).</li>
	<li>Im, H. K., Gamazon, E. R., Nicolae, D. L. & Cox, N. J. On sharing quantitative trait GWAS results in an era of multiple-omics data and the limits of genomic privacy. 
		Am. J. Hum. Genet. 90, 591–598 (2012).</li>
	<li>Presidential Commission, for the & Study of Bioethical Issues. PR I VACY and PROGRESS in Whole Genome Sequencing. 140 (2012). 
		at http://bioethics.gov/sites/default/files/PrivacyProgress508_1.pdf</li>
	<li>Toronto International Data Release Workshop Authors et al. Prepublication data sharing. Nature 461, 168–170 (2009).</li>
	<li>Homer, N. et al. Resolving Individuals Contributing Trace Amounts of DNA to Highly Complex Mixtures Using High-Density SNP Genotyping Microarrays. 
		PLoS Genet 4, e1000167 (2008).</li>
	<li>Wellcome Trust. Sharing research data to improve public health: full joint statement by funders of health research - http://www.wellcome.ac.uk/publichealthdata (2011). 
		at Wellcome Trust. Sharing research data to improve public health: joint statement of purpose. Jan 10, 2011. http://www.wellcome.ac.uk/publichealthdata </li>
	<li>Arias-Diaz, J., Martín-Arribas, M. C., García Del Pozo, J. & Alonso, C. Spanish regulatory approach for Biobanking. Eur. J. Hum. Genet. (2012). 
		doi:10.1038/ejhg.2012.249</li>
	<li>Sykes, B. & Irven, C. Surnames and the Y chromosome. Am. J. Hum. Genet. 66, 1417–1419 (2000).</li>
	<li>Rodriguez, L. L., Brooks, L. D., Greenberg, J. H. & Green, E. D. The Complexities of Genomic Identifiability. Science 339, 275–276 (2013).</li>
	<li>Visscher, P. M. & Hill, W. G. The Limits of Individual Identification from Sample Allele Frequencies: Theory and Statistical Analysis. PLoS Genet 5, (2009).</li>
	<li>Kaye, J. The tension between data sharing and the protection of privacy in genomics research. Annu Rev Genomics Hum Genet 13, 415–431 (2012).</li>
	<li>Knoppers, B. M. et al. Towards a data sharing Code of Conduct for international genomic research. Genome Med 3, 46 (2011).</li>
	</ol>
	
</div>

