<div class="ContactPage">
	
	<h2>Data Providers</h2>
	
	<table align="center">		
		<tr>
			<th>Institute/University</th>
			<th>Corresponding Contact(s)</th>
		</tr>
		<tr>
			<td>		
				<%= link_to (image_tag('CRG-logo.png')), "http://pasteur.crg.es/portal/page/portal/Internet/", target: "_blank" %>
			</td>
			<td><b>Xavier Estivill</b>, <b>Stephan Ossowski</b> </br> Center for Genomic Regulation, Barcelona, Spain.</td>
		</tr>
		<tr>	
			<td>
				<%= link_to (image_tag('MUN-logo.png')), "http://www.helmholtz-muenchen.de/", target: "_blank" %>
			</td>
			<td><b>Thomas Meitinger</b>, <b>Tim Strom</b> </br> Helmholtz Center Munich, Munich, Germany.</td>
		</tr>
		<tr>
			<td>
				<%= link_to (image_tag('NIJ-logo.png')), "http://www.ru.nl/", target: "_blank" %>				
			</td>
			<td><b>Joris Veltman</b>, <b>Han Brunner</b> </br> Stichting Catholic University , Nijmegen, Netherlands.</td>
		</tr>
	</table>


</div>

<div class="ContactPage">
	<table align="center">		
		<tr>
			<th>Data Analysts</th>
		</tr>
		<tr>
			<td>
				<b>Thomas Wieland</b>, Helmholtz Center Munich, Munich, Germany.
			</td>	
		</tr>
		<tr>
			<td>
				<b>Christian Gilissen</b>, Stichting Catholic University , Nijmegen, Netherlands.
			</td>	
		</tr>
		<tr>
			<td>
				<b>Oliver Drechsel</b>, Center for Genomic Regulation, Barcelona, Spain.
			</td>	
		</tr>
		<tr>
			<td>
				<b>Rubayte Rahman</b>, Center for Genomic Regulation, Barcelona, Spain.
			</td>	
		</tr>		
	</table>
</div>


<div class="ContactPage">
	<table align="center">		
		<tr>
			<th>Project Manager</th>
		</tr>
		<tr>
			<td>
				<b>Gabrielle Bertier</b></br>Center for Genomic Regulation, Barcelona, Spain.
			</td>	
		</tr>		
	</table>
</div>

<div class="ContactPage">
	<table align="center">		
		<tr>
			<th>Database & Application Engineer</th>
		</tr>
		<tr>
			<td>
				<b>Rubayte Rahman</b></br>Center for Genomic Regulation, Barcelona, Spain.
			</td>	
		</tr>		
	</table>
</div>