<div class = "Documentation">
	<h3>File for downloads :</h3>
	<ul>
	<% Dir.foreach("uploads") do |downloadFile|-%>
		<% next if downloadFile == '.' or downloadFile == '..' or downloadFile =~ /^\./ -%>
		<li> <%= link_to downloadFile, :controller => 'gapp',:action => 'downloadsAction', :dlfile => downloadFile %> </li>
			<p> description </p>
	<% end -%>	
	</ul>
</div>