<div class = "Documentation">
	<h3>Account requests listed below :</h3>
	<ul>
	<% Dir.foreach("AccountRequest") do |reqfile|-%>
		<% next if reqfile == '.' or reqfile == '..' -%>
		<li> <%= reqfile %> </li>
		<div class = "submissionTutorial">
		<p>	
			<%File.open('AccountRequest/'+reqfile, "r") do |infile| -%>
   				<% while (line = infile.gets) -%>
        			<%= line %><br/>
	    		<% end -%>
			<% end -%>
		</p>
		</div>
	<% end -%>	
	</ul>
</div>



<div class = "Documentation">
	<h3>Data submissions listed below :</h3>
	<ul>
	<% Dir.foreach("uploads") do |reqfile|-%>
		<% next if reqfile == '.' or reqfile == '..' or reqfile =~ /vcf$/ -%>
		<li> <%= reqfile %> </li>
		<div class = "submissionTutorial">
		<p>	
			<%File.open('uploads/'+reqfile, "r") do |infile| -%>
   				<% while (line = infile.gets) -%>
        			<%= line %><br/>
	    		<% end -%>
			<% end -%>
		</p>
		</div>
	<% end -%>	
	</ul>
</div>